{% extends 'base.html' %} 
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/addequipment.css' %}" />
<link
    href="https://www.cssscript.com/demo/sticky.css"
    rel="stylesheet"
    type="text/css"
/>
<!-- Title -->
<h2 class="d-flex justify-content-center align-items-center" style="font-size: 40pt;">Add Equipment</h2>
<form method="POST" style="padding:60px;">
    {% csrf_token %}
    <table class="table table-responsive">
        <thead>
            <tr>
                <th id="title" colspan="2" style="text-align: center; font-size: xx-large;">Details</th>
            </tr>
        </thead>
        <tbody>
            {{ form.as_table }}
        </tbody>
    </table>
    <div style="text-align: center;">
        <input type="submit" value="Submit" class="btn btn-outline-secondary" />
        <a href="/home/"><button id="right-btn" class="btn btn-outline-secondary" type="button">Cancel</button></a>
    </div>
</form>

<script>
    let d = new Date();
    document.getElementById("date").innerHTML = d;
    $(function() {
        $( ".datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:2050",
        // You can put more options here.
        });
    });
</script>

{% endblock %}