{% extends 'base.html' %} {% block content %}
<div>
  <h1 class="d-flex justify-content-center align-items-center">Home</h1>
  <div>
    <div class="input-group">
      <button
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="true"
      >
        Search By
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">VT_Tag</a></li>
        <li><a class="dropdown-item" href="#">CS_Tag</a></li>
        <li><a class="dropdown-item" href="#">Manufacturer</a></li>
        <li><a class="dropdown-item" href="#">Custodian</a></li>
        <li><a class="dropdown-item" href="#">Hostname</a></li>
        <li><a class="dropdown-item" href="#">Model</a></li>
        <li><a class="dropdown-item" href="#">Location</a></li>
        <li><a class="dropdown-item" href="#">IPV4 Address</a></li>
        <li><a class="dropdown-item" href="#">IPV6 Address </a></li>
      </ul>
      <input type="text" class="form-control" aria-label="Search" />
      <button class="btn btn-outline-secondary" type="button">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</div>
{% endblock %}
