{% extends 'base.html' %} {% block content %}
<div>
  <!-- Title -->
  <h1 class="d-flex justify-content-center align-items-center">Home</h1>
  <!-- Search Bar -->
  <div class="row">
    <form class="d-flex" method="get">
      {% csrf_token %}
      <div class="input-group">
        <select
          id="search_by_options"
          class="form-select"
          name="search_options"
        >
          <option value="">All</option>
          {% for k,v in options.items %} {% if selected_option == v %}
          <option value="{{v}}" selected>{{k}}</option>
          {% else %}
          <option value="{{v}}">{{k}}</option>
          {% endif %} {% endfor %}
        </select>
        <input
          id="search_box"
          type="text"
          class="form-control"
          aria-label="Search"
          name="search"
          value="{{query}}"
        />
        <button class="btn btn-outline-secondary" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>
  </div>
  <!-- Actions -->
  <div class="row"></div>
  <!-- Search Results Table-->
  <div class="row">
    <h2 class="d-flex justify-content-center align-items-center">
      Search Results
    </h2>
    <div>{% include "inventory/searchEquipmentResultsTable.html"%}</div>
  </div>
</div>

{% endblock %}
