{% extends 'base.html' %} {% block content %}
<div>
  <!-- Title -->
  <h1 class="d-flex justify-content-center align-items-center">Home</h1>
  <!-- Search Bar -->
  <div class="row">
    <form class="d-flex" method="get">
      {% csrf_token %}
      <div class="input-group">
        <select
          id="search_by_options"
          class="form-select"
          name="search_options"
        >
          <option value="">All</option>
          {% for k,v in options.items %} {% if selected_option == v %}
          <option value="{{v}}" selected>{{k}}</option>
          {% else %}
          <option value="{{v}}">{{k}}</option>
          {% endif %} {% endfor %}
        </select>
        <input
          id="search_box"
          type="text"
          class="form-control"
          aria-label="Search"
          name="search"
          value="{{query}}"
        />
        <button class="btn btn-outline-secondary" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>
  </div>
  <!-- Actions -->
  <div class="row">
  <div class="col">
    <a href="/addequipment" class="btn btn-outline-secondary" role="button">Add Equipment</a>
    <a href="/home/DNS_Form/"><button id="left-btn" class="btn btn-outline-secondary" type="button">
      Generate DNS Form
  </button></a>
  </div>
  </div>
  <!-- Search Results Table-->
  <div class="row">
    <h2 class="d-flex justify-content-center align-items-center">
      Search Results
    </h2>
    <div></div>
    <div class="table-responsive">
      <table class="table table-bordered table-responsive table-hover table-striped">
        <thead>
          <tr>
            <th>CS Tag</th>
            <th>Custodian</th>
            <th>Hostname</th>
            <th>Manufacturer/Model</th>
            <th>Building</th>
            <th>VT Tag</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for equipment in equipments %}
        <tr>
            <th scope="row">{{ equipment.cs_tag }}</th>
            <td>{{ equipment.custodian }}</td>
            <td>{{ equipment.hostname.hostname }}</td>
            <td>{{ equipment.manufacturer_model }}</td>
            <td>{{ equipment.building.name }}</td>
            <td>{{ equipment.vt_tag }}</td>
            <td>
             <a href="/itemdetails/{{equipment.id}}/"
                ><button
                  class="btn btn-outline-secondary"
                  type="button"
                  style="font-size: 14px; padding: 2px"
                >
                  View
                </button></a
              >
            </td>
          </tr>
        {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
