{% extends 'base.html' %} 
{% block content %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/equipment.css' %}" />
<link
    href="https://www.cssscript.com/demo/sticky.css"
    rel="stylesheet"
    type="text/css"
/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/jobs/public/js/jquery.form.js"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>



<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="item_update_form" method='post' class="form" role="form" action="{% url 'inventory:ipdetails' ip.id %}">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Item Edit</h4>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="annulla" />
                <input type="submit" class="btn btn-primary" value="save" style="margin-bottom: 5px;" />
              </div>
        </form>
        <script>
                var form_options = {
                    target: '#modal',
                    success: function() {  }
                }
                $('#item_update_form').ajaxForm(form_options);
        </script>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
{% endblock %}

    