{% extends 'base.html' %} 
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/equipment.css' %}" />
<link
    href="https://www.cssscript.com/demo/sticky.css"
    rel="stylesheet"
    type="text/css"
/>
    <!-- Title -->
    <h2 class="d-flex justify-content-center align-items-center" style="padding: 10px; font-size: 40pt; padding-bottom: 50px;">Equipment Page</h2>

{% if messages %}
    {% for message in messages %}
    <script>alert("{{ message }}")</script>

    {% endfor %}

{% endif %}
{% if item is not None %}
<form method="POST">
<div class="row" style="width: 100%;">
    <div class="column">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th id="title" colspan="2">Details </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>CS Tag</th>
                    <td contenteditable="true" name="cstag">{{ item.cs_tag }}</td>
                </tr>
                <tr>
                    <th>Custodian</th>
                    <td contenteditable="true" name="custodian">{{ item.custodian }}</td>
                </tr>
                <tr>
                    <th>Hostname</th>
                    <td contenteditable="true" name="hostname">{{ item.hostname.hostname }}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{ item.building.name }}</td>
                </tr>
                <tr>
                    <th>Manufacturer/Model</th>
                    <td contenteditable="true">{{ item.manufacturer_model }}</td>
                </tr>
                <tr>
                    <th>VT Tag</th>
                    <td contenteditable="true" name="vttag">{{ item.vt_tag }}</td>
                </tr>
                <tr>
                    <th>IPv4</th>
                    <td>{{ item.hostname.ipv4.address }} &nbsp; &nbsp; &nbsp;<a href="/IPv4/{{item.building.id}}/{{item.id}}"><button id="ipv4-btn" class="btn btn-outline-secondary" type="button">
                        Generate IPv4
                    </button></a></td>
                </tr>
                <tr>
                    <th>IPv6</th>
                    <td>{{ item.hostname.ipv6.address }} &nbsp; &nbsp; &nbsp;<a href="/IPv6/{{item.building.id}}/{{item.id}}"><button id="ipv6-btn" class="btn btn-outline-secondary" type="button">
                        Generate IPv6
                    </button></a></td>
                </tr>
                <tr>
                    <th>Notes</th>
                    <td contenteditable="true" name="notes">{{ item.notes }}</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="column">
        <table class="table table-responsive" >
            <thead>
                <tr>
                    <th id="title">History </th>
                </tr>
            </thead>
            <tbody>
                {% for histories in history %}
                <tr>
                    <td><b>Command: </b>{{ histories.command }}
                    <b>Execution Time: </b>{{ histories.execution_time }}
                    <b>Executor: </b>{{ histories.executor }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>   
</div> 
<div id="rows" class="row" style="padding: 5%;">
    <div class="col"> 
        <a href=""><button id="assign-btn" class="btn btn-outline-secondary" type="button">
            Assign To
        </button></a>

        <a href="delete/"><button id="right-btn" class="btn btn-outline-secondary" type="button">
            Delete Item
        </button></a>

        &nbsp;&nbsp;&nbsp;
        <a href=""><button id="confirm-btn" class="btn btn-outline-secondary" type="button">
            Apply Changes
        </button></a>
    </div>
</div>
</form>
{% endif %}
{% endblock %}