{% extends 'base.html' %} 
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/equipment.css' %}" />
<link
    href="https://www.cssscript.com/demo/sticky.css"
    rel="stylesheet"
    type="text/css"
/>
    <!-- Title -->
    <h2 class="d-flex justify-content-center align-items-center" style="padding: 10px; font-size: 40pt; padding-bottom: 50px;">Equipment Page</h2>
<div class="row" style="width: 100%;">
    <div class="column">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th id="title" colspan="2">Details </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>CS Tag</th>
                    <td contenteditable="true">1549876</td>
                </tr>
                <tr>
                    <th>Custodian</th>
                    <td contenteditable="true">John Doe</td>
                </tr>
                <tr>
                    <th>Hostname</th>
                    <td contenteditable="true">Newman Lib</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td contenteditable="true">McBryde 1106</td>
                </tr>
                <tr>
                    <th>Manufacturer</th>
                    <td contenteditable="true">DELL</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td contenteditable="true">PSX10</td>
                </tr>
                <tr>
                    <th>VT Tag</th>
                    <td contenteditable="true">VT-109364987</td>
                </tr>
                <tr>
                    <th>IPv4</th>
                    <td contenteditable="true"></td>
                </tr>
                <tr>
                    <th>IPv6</th>
                    <td contenteditable="true">Pre-fix:1235:3465:6568</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="column">
        <table class="table table-responsive" >
            <thead>
                <tr>
                    <th id="title">History </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
                <tr>
                    <td>Really long comment with everything you need to know </td>
                </tr>
            </tbody>
        </table>
    </div>   
</div> 
<div id="rows" class="row" style="padding: 5%;">
    <div class="col"> 
        <button id="left-btn" class="btn btn-outline-secondary" type="button">
            Generate DNS Form
        </button>
    
        <a href="/home/"><button id="right-btn" class="btn btn-outline-secondary" type="button">
            Delete Item
        </button></a>
    </div>
</div>

{% endblock %}