{% extends 'base.html' %} 
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/equipment.css' %}" />
<link
    href="https://www.cssscript.com/demo/sticky.css"
    rel="stylesheet"
    type="text/css"
/>
    <!-- Title -->
    <h2 class="d-flex justify-content-center align-items-center" style="padding: 10px; font-size: 40pt; padding-bottom: 50px;">Equipment Page</h2>

{% if messages %}{% for message in messages %}
    {% if message.tags == "success" %}
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">
        ×
        </button>
        <strong>{{message}}<strong>
      </div>
    {% else %}
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">
      ×
      </button>
      <strong>{{message}}<strong>
    </div>
    {% endif %}
  {% endfor %}{% endif %}
{% if item is not None %}
<form method="POST" action="/itemdetails/{{item.id}}/apply_changes/">
    {% csrf_token %}
<div class="row" style="width: 100%; ">
    <div class="column">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th id="title" colspan="2">Details </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>CS Tag</th>
                    {% if item.cs_tag == ""%}
                    <td><input name="cstag" type="text" placeholder="CS Tag goes here" class="form-control" value="{{ item.cs_tag }}"></td>
                    {% else %}
                    <td>{{ item.cs_tag }}</td>
                    {% endif %}
                    <!--<td contenteditable="true" name="cstag">{{ item.cs_tag }}</td> -->
                </tr>
                <tr>
                    <th>VT Tag</th>
                    {% if item.vt_tag == ""%}
                    <td><input name="vttag" type="text" placeholder="VT tag goes here" class="form-control" value="{{ item.vt_tag }}"></td>
                    {% else %}
                    <td>{{ item.vt_tag }}</td>
                    {% endif %}
                    <!--<td contenteditable="true" name="vttag">{{ item.vt_tag }}</td> -->
                </tr>
                <tr>
                    <th>Custodian</th>
                    <td contenteditable="false" name="custodian">{{ item.custodian }}</td>
                </tr>
                <tr>
                    <th>Departmemt</th>
                    {% if item.dept == ""%}
                    <td><input name="dept" type="text" placeholder="Departmemt goes here" class="form-control" value="{{ item.dept }}"></td>
                    {% else %}
                    <td>{{ item.dept }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Hostname</th>
                    <td><input name="host" type="text" placeholder="Hostname goes here" class="form-control" value="{{ item.hostname.hostname }}"></td>
                    <!--<td contenteditable="true" name="hostname">{{ item.hostname.hostname }}</td>-->
                </tr>
                <tr>
                    <th>Mail Exchange</th>
                    {% if item.mail_exchange %}
                    <td>{{ item.mail_exchange }}</td>
                    {% else %}
                    <td><select name = "mex">
                        <option value = "" selected>---------</option>
                        {% for host in hostnames %}
                        <option value = "{{ host.hostname }}">{{ host }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    <!--<td><input name="mex" type="text" placeholder="Mail Exchange goes here" class="form-control" value="{{ item.mail_exchange }}"></td>-->
                </tr>
                <tr>
                    <th>Aliases</th>
                    <td><input name="alias" type="text" placeholder="Aliases go here" class="form-control" value="{{ item.hostname.aliases }}"></td>
                    <!--<td contenteditable="true" name="aliases">{{ item.hostname.aliases }}</td>-->
                </tr>
                <tr>
                    <th>Building</th>
                    <td>{{ item.building.name }}</td>
                </tr>
                <tr>
                    <th>Room</th>
                    {% if item.room == ""%}
                    <td><input name="room" type="text" placeholder="Room goes here" class="form-control" value="{{ item.room }}"></td>
                    {% else %}
                    <td>{{ item.room }}</td>
                    {% endif %}
                    <!--<td contenteditable="true" name="vttag">{{ item.vt_tag }}</td> -->
                </tr>
                <tr>
                    <th>Manufacturer/Model</th>
                    <td contenteditable="false">{{ item.manufacturer_model }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <!--<td><input name="status" type="text" placeholder="Status goes here" class="form-control" value="{{ item.status }}"></td>-->
                    <td><select name = "status">
                        <option value = "{{ item.status }}" selected>{{ item.status }}</option>
                        <option value = "In Use">In Use</option>
                        <option value = "In Storage">In Storage</option>
                        <option value = "On Loan">On Loan</option>
                        <option value = "Damaged">Damaged</option>
                        <option value = "Missing">Missing</option>
                        <option value = "Surplused">Surplused</option>
                        <option value = "Transferred">Transferred</option>
                        <option value = "Written Off Orphaned">Written Off Orphaned</option>
                    </select></td>
                    <!--<td contenteditable="true" name="vttag">{{ item.vt_tag }}</td> -->
                </tr>
                <tr>
                    <th>Serial Number</th>
                    {% if item.serial_number == ""%}
                    <td><input name="serial" type="text" placeholder="Serial Number goes here" class="form-control" value="{{ item.serial_number }}"></td>
                    {% else %}
                    <td>{{ item.serial_number }}</td>
                    {% endif %}
                    <!--<td contenteditable="true" name="vttag">{{ item.vt_tag }}</td> -->
                </tr>
                <tr>
                    <th>Classification</th>
                    <!--<td><input name="class" type="text" placeholder="Classification goes here" class="form-control" value="{{ item.classification }}"></td> -->
                        <td><select name = "class">
                            <option value = "{{ item.classification }}" selected>{{ item.classification }}</option>
                            <option value = "Laptop">Laptop</option>
                            <option value = "Desktop">Desktop</option>
                            <option value = "Other">Other</option>
                        </select></td>
                    
                    <!--<td contenteditable="true" name="vttag">{{ item.vt_tag }}</td> -->
                </tr>
                <tr>
                    <th>Description</th>
                    <td><textarea name="desc" id="desc" cols="30" rows="3">{{ item.description }}</textarea></td>
                    <!--<td><input name="desc" type="text" placeholder="Description goes here" class="form-control" value="{{ item.description }}"></td>-->
                    <!--<td contenteditable="true" name="vttag">{{ item.vt_tag }}</td> -->
                </tr>
                <tr>
                    <th>IPv4</th>
                    {% if item.hostname.ipv4 %}
                    <td>{{ item.hostname.ipv4.address }}</td>
                    {% else %}
                    <td>{{ item.hostname.ipv4.address }} &nbsp; &nbsp; &nbsp;<a href="/IPv4/{{item.building.id}}/{{item.id}}"><button id="ipv4-btn" class="btn btn-outline-secondary" type="button">
                        Generate IPv4
                    </button></a></td>
                    {% endif %}
                </tr>
                <tr>
                    <th>IPv6</th>
                    {% if item.hostname.ipv6 %}
                    <td>{{ item.hostname.ipv6.address }} </td>
                    {% else %}
                    <td>{{ item.hostname.ipv6.address }} &nbsp; &nbsp; &nbsp;<a href="/IPv6/{{item.building.id}}/{{item.id}}"><button id="ipv6-btn" class="btn btn-outline-secondary" type="button">
                        Generate IPv6
                    </button></a></td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Purchase Order</th>
                    {% if item.purchase_order == ""%}
                    <td><input name="porder" type="text" placeholder="Purchase order goes here" class="form-control" value="{{ item.purchase_order }}"></td>
                    {% else %}
                    <td>{{ item.purchase_order }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Purchase Date</th>
                    {% if item.purchase_date %}
                    <td>{{ item.purchase_date }}</td>
                    {% else %}
                    <td><input name="pdate" type="date" placeholder="Format: YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control" value=""></td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Purchase Value</th>
                    {% if item.purchase_value %}
                    <td>${{ item.purchase_value }}</td>
                    {% else %}
                    <td><input name="pvalue" type="text" placeholder="Format: $1111.11" class="form-control" value="$"></td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Acquisition Date</th>
                    {% if item.acquisition_date %}
                    <td>{{ item.acquisition_date }}</td>
                    {% else %}
                    <td><input name="aquidate" type="date" placeholder="Format: YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control" value=""></td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Notes</th>
                    <td><textarea name="notes" id="notes" cols="30" rows="5">{{ item.notes }}</textarea></td>
                    <!--<td><input name="notes" type="text" placeholder="Include Notes here" class="form-control" value="{{ item.notes }}"></td> -->
                    <!--<td contenteditable="true" name="notes">{{ item.notes }}</th> -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="column">
        <table class="table table-responsive" >
            <thead>
                <tr>
                    <th id="title">History </th>
                </tr>
            </thead>
            <tbody>
                {% for histories in history %}
                <tr>
                    <td><b>Command: </b>{{ histories.command }}
                    <b>Execution Time: </b>{{ histories.execution_time }}
                    <b>Executor: </b>{{ histories.executor }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>   
</div> 
<div id="rows" class="row" style="padding: 5%;">
    <div class="col"> 
        <button id="assign-btn" class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#myModal">
            Assign To
        </button>

        <a href="delete/"><button id="right-btn" class="btn btn-outline-danger confirm-delete" type="button">
            Delete Item
        </button></a>

        &nbsp;&nbsp;&nbsp;
        <button id="confirm-btn" class="btn btn-outline-success" type="submit">
            Apply Changes
        </button>
    </div>
</div>
</form>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Check Out Form</h4>
          <button type="button" class="close" data-dismiss="modal" style="text-align: left;">&times;</button>
          
        </div>
        <div class="modal-body">
          <form method="POST" action="/itemdetails/{{item.id}}/checkout_form/">
            {% csrf_token %}
            <div class="row" style="width: 100%; ">
                <div class="column" style="width: 100%; height: auto; padding: 0%;">
                 <table class="table table-responsive" style="border: 0px;">
                    <thead>
                        <tr>
                            <th id="title" colspan="2" style="font-size: 12pt; text-align: left;">Checked Out To (Faculty/Staff Member): </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Name:</th>
                            <td><input name="name" type="text" placeholder="John Doe" class="form-control" value=""></td>
                        </tr>
                        <tr>
                            <th>Office:</th>
                            <td><input name="office" type="text" placeholder="Office Name" class="form-control" value=""></td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td><input name="email" type="email" placeholder="jdoe@mail.com" class="form-control" value=""></td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td><input name="phone" type="text" placeholder="111-111-1111" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" value=""></td>
                        </tr>
                    </tbody>    
                 </table>
                 <table class="table table-responsive" style="border: 0px;">
                    <thead>
                        <tr>
                            <th id="title" colspan="2" style="font-size: 12pt; text-align: left;">For Use By (Faculty/Staff Member): </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th> First Name:</th>
                            <td><input name="firstNameFac" type="text" placeholder="John" class="form-control" value=""></td>
                        </tr>
                        <tr>
                            <th> Last Name:</th>
                            <td><input name="lastNameFac" type="text" placeholder="Doe" class="form-control" value=""></td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td><input name="emailFac" type="email" placeholder="jdoe@mail.com" class="form-control" value=""></td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td><input name="phoneFac" type="text" placeholder="111-111-1111" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" value=""></td>
                        </tr>
                        <tr>
                            <th>PID:</th>
                            <td><input name="pidFac" type="text" placeholder="905487739" required pattern="[0-9]{9}" class="form-control" value=""></td>
                        </tr>
                    </tbody>    
                 </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="confirm-btn" class="btn btn-outline-success" type="submit" style="float: left;">
                Show Form
            </button>
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

{% endif %}
{% endblock %}