<html>
    <head>
        <head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			{% load static %}
			<link rel="stylesheet" href="{% static 'js/sidebar.js' %}">
			{% load static %}
			<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            
        </head>
    </head>
	
		<!-- Bootstrap NavBar -->
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-primary">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">
				<span class="menu-collapsed">VT TechStaff</span>
			</a>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#top">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#top">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#top">Pricing</a>
					</li>
					<!-- This menu is hidden in bigger devices with d-sm-none. 
				   The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
					<li class="nav-item dropdown d-sm-block d-md-none">
						<a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu </a>
						<div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
							<a class="dropdown-item" href="#top">hjsahgjsa</a>
							<a class="dropdown-item" href="#top">Profile</a>
							<a class="dropdown-item" href="#top">Tasks</a>
							<a class="dropdown-item" href="#top">Etc ...</a>
						</div>
					</li><!-- Smaller devices menu END -->
				</ul>
			</div>
		</nav><!-- NavBar END -->
		<!-- Bootstrap row -->
		<div class="row" id="body-row">
			<!-- Sidebar -->
			<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
				<!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
				<!-- Bootstrap List Group -->
				<ul class="list-group">
					<!-- Separator with title -->
					<li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
						<small>MAIN MENU</small>
					</li>
					<!-- /END Separator -->
					<!-- Menu with submenu -->
					<a href="#submenu1" data-toggle="collapse" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-start align-items-center">
							<span class="fa fa-dashboard fa-fw mr-3"></span>
							<span class="menu-collapsed">Home</span>							
						</div>
					</a>

					<a href="#submenu2" data-toggle="collapse" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-start align-items-center">
							<span class="fa fa-user fa-fw mr-3"></span>
							<span class="menu-collapsed">IP Dashboard</span>
							<span class="submenu-icon ml-auto"></span>
						</div>
					</a>
					
					<a href="#" class="bg-dark list-group-item list-group-item-action">
						<div class="d-flex w-100 justify-content-start align-items-center">
							<span class="fa fa-tasks fa-fw mr-3"></span>
							<span class="menu-collapsed">Admin</span>
						</div>
					</a>
					<!-- Separator with title -->
					<li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
						<small>OPTIONS</small>
					</li>
					<!-- /END Separator -->
					<a href="#" class="bg-dark list-group-item list-group-item-action">
						<div class="d-flex w-100 justify-content-start align-items-center">
							<span class="fa fa-calendar fa-fw mr-3"></span>
							<span class="menu-collapsed">Logout</span>
						</div>
					</a>
					<!-- Separator without title -->
					<li class="list-group-item sidebar-separator menu-collapsed"></li>
					<!-- /END Separator -->
					<a href="#top" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
						<div class="d-flex w-100 justify-content-start align-items-center">
							<span id="collapse-icon" class="fa fa-2x mr-3"></span>
							<span id="collapse-text" class="menu-collapsed">Collapse</span>
						</div>
					</a>
				</ul><!-- List Group END-->
			</div><!-- sidebar-container END -->
			<!-- MAIN -->
			<div class="main">
				<div class="card">
					
					<!----<div class="container"> ----->
						{% block content %}
						{% endblock %}
					<!------ </div> ------>
					
				</div>
			</div><!-- Main Col END -->
		</div><!-- body-row END -->
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
	</body>
</html>